<div *ngIf="isAdmin">
    <div  *ngFor="let category of categories" style="display: inline-block">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem; margin-left:15px">
            <div class="card-header">{{category.name}}</div>
            <div class="card-body">
                <h4 class="card-title">{{category.description}}</h4>
               
                <a [routerLink]="['/categories/edit/',category.id]"> edit </a>
                <a (click)="deleteCategory(category.id)"> delete </a>
               
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isAdmin">
    <h2>You are not allowed here</h2>
</div>